.drum-pad {
  background: #303030;
  border-radius: 1.25rem;
  border: 5px solid #fff;
  margin: 0.625rem;
  height: 5rem;
  line-height: 4.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  box-shadow: 0 0.5rem 1.5rem #212121;
}

.active {
  background: white;
  border-color: #212121;
  color: #212121;
  transition: all 0.3 ease-in-out;
}